.DS_Store
.output

Framework/*
!Framework/*.xcframework
**/fastlane/README.md
fastlane/.cache

.Trashes
*.lock

DerivedData/
build/

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.xccheckout
xcuserdata/

Podfile.lock
Pods/
*.xcodeproj/xcuserdata/
*.xcworkspace